{% extends 'base.html' %}

{% block title %} Home{% endblock title %}



{%block css%}{%endblock%}
{%block body%}

<main role="main">

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">iCoder</h1> 
      <p>This is a sample website. It includes app and blog.</p>
      <p><a class="btn btn-primary btn-lg" href="" role="button">Home &raquo;</a></p>
      <p><a class="btn btn-primary btn-lg" href="/blog/" role="button">Blog &raquo;</a></p>
    </div>
  </div>

  
</main>
  <footer class="container">
    <p>&copy; iCoder 2021-2022</p>
  </footer>


 {% endblock %}